body{
  background: #DDD;
}
.clear{
  clear: both;
}
#box_tags{
  width: 320px;
  height: 180px;
  background: #FFFFFF;
  padding: 20px 19px;
}

#box_tags .title{
  font-size: 18px;
  font-weight: bold;
}

#box_tags .list_tags{
  margin-top: 20px;
}

#box_tags a{
  background: #01BACF;
  color: #FFF;
  display: block;
  padding: 7px 10px; /*top - right - bottom - left */
  float: left;
  margin-right: 14px;
  margin-top:10px;
}